body {
  margin: 0 auto;
  width: 100vw;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  margin: 0 130px;
}
.content {
  margin: 0 130px;
}
.logo {
  font-size: 32px;
}
.menu {
  display: flex;
  gap: 30px;
}
.menu span {
  font-size: 20px;
}
.enterReality {
  display: flex;
  gap: 20%;
}
.realityText {
  width: 40%;
}
.realityText h1 {
  font-size: 64px;
  color: #367cff;
  margin: 0;
}
.realityText span {
  font-size: 20px;
  color: #000000;
}
.realityText p {
  font-size: 20px;
  color: #555555;
  margin-top: 0;
}
.realityText button {
  font-size: 16px;
  color: #ffffff;
  border-radius: 20px;
  background-color: #367cff;
  height: 45px;
  width: 116px;
}
.realityImage {
  background-image: url("./vr.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 40%;
  height: 350px;
}
.firstParty {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30%;
  text-align: center;
}
.firstParty h2 {
  font-size: 40px;
  font-weight: bold;
  color: #367cff;
}
.firstParty p {
  font-size: 20px;
  color: #555555;
}
.dataSecurityDiv {
  display: flex;
  gap: 20%;
  margin-top: 5rem;
}
.dataSecurityDiv img {
  width: 40%;
}
.dataSecurity {
  width: 40%;
}
.dataSecurity h2 {
  font-size: 40px;
  font-weight: bold;
  color: #367cff;
}
.dataSecurity p {
  font-size: 20px;
  color: #555555;
}
.dataSecurity ul li {
  font-size: 20px;
}
.aws {
  display: flex;
  align-items: center;
  gap: 20%;
}
.aws h2 {
  font-size: 40px;
  font-weight: bold;
  color: #367cff;
}
.aws p {
  font-size: 20px;
  color: #555555;
}
.technolgyUsed {
  display: flex;
  align-items: center;
  gap: 20%;
  padding-bottom: 3rem;
}
.technolgyUsed h2 {
  font-size: 40px;
  font-weight: bold;
  color: #367cff;
}
.technolgyUsed p {
  font-size: 20px;
  color: #555555;
}
.footer {
  height: 300px;
  width: 100%;
  background-color: #292a2e;
  display: flex;
  justify-content: space-evenly;
  color: white;
  padding-top: 5%;
}
.footer ul li {
  font-size: 24px;
}
.lever {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.lever input {
  width: 180px;
  height: 40px;
  border-radius: 15px;
  text-indent: 10px;
}
.lever button {
  width: 188px;
  height: 40px;
  border-radius: 15px;
  background-color: #367cff;
  color: #ffffff;
}
.car {
  display: flex;
  justify-content: flex-end;
  padding: 10px 130px;
  gap: 15px;
  background-color: #000000;
  height: 50px;
}

@media screen and (max-width: 425px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    margin: 0 30px;
    flex-direction: column;
    gap: 10px;
  }
  .menu span {
    font-size: 14px;
  }
  .content {
    margin: 0 30px;
  }
  .enterReality {
    flex-direction: column;
  }
  .realityText,
  .realityImage,
  .dataSecurityDiv img,
  .dataSecurity {
    width: 100%;
  }
  .firstParty {
    padding: 0;
  }
  .dataSecurityDiv {
    flex-direction: column-reverse;
  }
  .aws {
    flex-direction: column;
  }
  .technolgyUsed {
    flex-direction: column-reverse;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer ul li {
    font-size: 18px;
  }
  .car {
    justify-content: center;
  }
}
